<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}

    <div class="AboutDiv">
    <img src="./img/me.png"> 
    </div>

    {{>footer}}
</body>

</html>