h1, p, a {
    color: gray;
    margin: 10px;
    padding-left: 20px;
}
h2 {
    color: black;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
}
a, h2:hover {
    color: darkslategrey;
    cursor: pointer;
}
img {
    margin: auto;
    padding-top: 20px;
    width: 60vw;
    height: 60vh;
}
.AboutDiv {
    border: none;
    margin: 40px;
    width: 85vw;
    height: 70vh;
    display: flex;
    align-content: space-between;
    align-items: center;
    align-self: auto;
    background: linear-gradient(cyan ,  darkblue, black);

}